<div class="navbar bg-base-100">
  <div class="flex-1">
    <a class="btn btn-ghost text-xl">Playground</a>
  </div>
  <div class="flex-none">
    <ul class="menu menu-horizontal px-1">
      <li><a routerLink="/welcome"> Welcome</a></li>
      <li><a routerLink="/pokemon"> Pokemon Overview</a></li>
    </ul>
  </div>
</div>

<div class="h-92">
  <px-map />
</div>

<footer class="fixed bottom-0 w-full z-10 p-3 bg-neutral-900 text-neutral-300">
  <a
    href="https://mnky-js.com"
    target="_blank"
    class="flex justify-center items-center gap-2"
  >
    <span>mnky-js</span>
  </a>
</footer>
