<div *ngIf="fragmentHasError; else formcontainer">
    <div class="p-8 flex flex-col flex-nowrap max-w-xl mx-auto md:justify-center">
        <h1 class="text-4xl font-bold font-jockeyone">
            <p>Link is expired</p>
        </h1>
        <p class="mb-12">Expired</p>

        <button
            type="button"
            class="btn btn-outline w-full mt-auto mb-4 md:mt-0"
            routerLink="/">
            Home
        </button>
    </div>
</div>
<ng-template #formcontainer>
    <form
        class="p-8 flex flex-col flex-nowrap max-w-xl mx-auto md:justify-center"
        [formGroup]="form"
        (submit)="onSubmit()">
        <h1 class="text-3xl font-bold mb-4">Password Reset</h1>
        <p class="mb-12">Please enter your new password</p>

        <div
            *ngIf="authError"
            class="text-red-500 text-sm mb-2">
            There was an error resetting your password. Please try again.
        </div>

        <div class="form-control w-full mb-4 relative">
            <label class="label">
                <span class="label-text">New Password</span>
            </label>

            <div class="relative">
                <input
                    placeholder="********"
                    class="input input-bordered w-full"
                    [type]="showPassword ? 'text' : 'password'"
                    [formControl]="form.controls.newPassword" />
                <button
                    type="button"
                    class="absolute right-2.5 top-1/2 -translate-y-1/2 pt-1 leading-none"
                    aria-label="Show password"
                    (click)="toggleShowPassword()">
                    <i
                        class="pi test-base"
                        [class]="showPassword ? 'pi-eye-slash' : 'pi-eye'"></i>
                </button>
            </div>
            <p class="text-xs mt-2">
                <span class="text-gray-500"
                    >Password must be at least 8 characters long and contain at least one number and one letter.</span
                >
            </p>
            <p
                *ngIf="form.controls.newPassword.dirty && form.controls.newPassword.errors?.['required']"
                class="text-xs mt-2 text-danger">
                Required
            </p>
            <p
                *ngIf="form.controls.newPassword.dirty && form.controls.newPassword.errors?.['minlength']"
                class="text-xs mt-2 text-danger">
                Password must be at least 8 characters long
            </p>
            <p
                *ngIf="form.controls.newPassword.dirty && form.controls.newPassword.dirty && form.controls.newPassword.errors?.['pattern']"
                class="text-xs mt-2 text-danger">
                Password must contain at least one number and one letter
            </p>
        </div>

        <div class="form-control w-full mb-16">
            <label class="label">
                <span class="label-text"> Confirm New Password </span>
            </label>
            <input
                placeholder="********"
                class="input input-bordered w-full"
                [type]="showPassword ? 'text' : 'password'"
                [formControl]="form.controls.newPasswordConfirm" />
            <p
                *ngIf="form.controls.newPasswordConfirm.dirty && form.controls.newPasswordConfirm.errors?.['required']"
                class="text-xs mt-2 text-danger">
                Required
            </p>
            <p
                *ngIf="form.controls.newPasswordConfirm.dirty && form.errors?.['PasswordNoMatch']"
                class="text-xs mt-2 text-danger">
                Passwords do not match
            </p>
        </div>

        <button
            class="btn btn-primary w-full mt-auto mb-4 md:mt-0"
            [disabled]="form.invalid">
            Submit
        </button>

        <button
            type="button"
            class="btn btn-outline w-full mt-auto mb-4 md:mt-0"
            routerLink="/">
            Cancel
        </button>
    </form>
</ng-template>
