<form
    class="p-8 flex flex-col flex-nowrap max-w-xl mx-auto md:justify-center"
    [formGroup]="form">
    <h1 class="text-3xl font-bold mb-4">Forgot your password?</h1>
    <p class="mb-12">Enter your email address and we will send you a link to reset your password.</p>

    @if (authError) {
        <div class="text-red-500 text-sm mb-2">An error occurred while sending the email. Please try again.</div>
    }

    <div class="form-control w-full mb-4">
        <label class="label">
            <span class="label-text"> Enter your email address </span>
        </label>
        <input
            type="email"
            placeholder="Email address"
            class="input input-bordered w-full"
            [formControl]="form.controls.email" />
    </div>

    <button
        class="btn btn-primary w-full mt-auto mb-4 md:mt-0"
        [disabled]="form.invalid"
        (click)="onSubmit()">
        Reset password
    </button>

    <button
        type="button"
        class="btn btn-outline w-full mt-auto mb-4 md:mt-0"
        routerLink="/">
        Back to sign in
    </button>
</form>
